<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<body>
<h1>Chat history:</h1>
<p>messege # Rob_Rpi has joined the room.</p>
<p>messege # Rob_Rpi: We are the champions</p>
<p>messege # Rob_Rpi: WEEEE are the champions! </p>
<p>messege # Rob_Rpi: Noooo time for loosers! Cause we are the Champions!</p>
<p>messege # Rob_Rpi: OF THE WORLDDDDD!!!!!</p>
<p>messege # Rob_Rpi: Okay</p>
<p>messege # Rob_Rpi: Heres the real test</p>
There are 7 messages
</body>
</html>