<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<body>
<h1>Chat history:</h1>
<p>messege # Rob_Rpi has joined the room.</p>
<p>messege # Rob_Rpi: We are the champions</p>
<p>messege # Rob_Rpi: WEEEE are the champions! </p>
<p>messege # Rob_Rpi: Noooo time for loosers! Cause we are the Champions!</p>
<p>messege # Rob_Rpi: OF THE WORLDDDDD!!!!!</p>
<p>messege # Rob_Rpi: Okay</p>
<p>messege # Rob_Rpi: Heres the real test</p>
<p>messege # Rob: Okay</p>
<p>messege # Rob: heres the</p>
<p>messege # Rob: test</p>
<p>messege # pi: hiya</p>
<p>messege # Rob: If  this works</p>
<p>messege # Rob: it's doing well</p>
<p>messege # pi: fight on</p>
<p>messege # pi: ...</p>
<p>messege # pi is not at their keyboard.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Rob has joined the room.</p>
<p>messege # Rob: Hi</p>
<p>messege # Rob: Ok</p>
<p>messege # pi: hi</p>
<p>messege # sam has joined the room.</p>
<p>messege # pi is not at their keyboard.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # All users are at their keyboards.</p>
There are 27 messages
</body>
</html>