<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<body>
<h1>Chat history:</h1>
<p>messege # All users are at their keyboards.</p>
<p>messege # Seth has joined the room.</p>
<p>messege # Rob has joined the room.</p>
<p>messege # Rob: hey dude</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Seth: hey!</p>
<p>messege # Seth: </p>
<p>messege # Seth: hi</p>
<p>messege # Seth is not at their keyboard.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Seth: how are you</p>
<p>messege # Rob: Things are going great over here!</p>
<p>messege # Seth is not at their keyboard.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Rob: Im back</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Jimmy has joined the room.</p>
<p>messege # Jimmy: Hey I'm jimmy</p>
<p>messege # Jimmy: how are finals goin</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # Jim has joined the room.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # jane has joined the room.</p>
<p>messege # jane is not at their keyboard.</p>
<p>messege # All users are at their keyboards.</p>
<p>messege # jane: yup</p>
<p>messege # Jim: +EE250 is a cool class</p>
<p>messege # Jim: yee</p>
<p>Here are the users </p>
<p>Rob</p>
<p>Seth</p>
<p>Jimmy</p>
<p>jane</p>
<p>Jim</p>
<p>There are 12 messages</p>
<p>average message length = 0.25</p>

</body>
</html>